body {
  margin: 50px;
  font-family: Roboto;
  background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* W3C */
}

u {
    text-decoration: underline;
}

p{
	text-align: justify;
}


#pagebox4 #proceed{
	display: none;
}
.pagebox:not(#pagebox0){
	text-align: center;
	display: none;
}

#pagebox0 h1,h3{
	text-align: center;
}


#pagebox hr{ 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


.stepbox h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: normal;
	vertical-align: middle;
}

.stepbox ul {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.stepbox li {
	background: white;
	height: 40px;
	line-height: 40px;
	color: #440735;
	text-align: left;

}

.stepbox span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}



.container .steps {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0,0,0.1); 
}

.steps{
	border-bottom: 2px solid white;
}

.stepbox fa-trash {
	list-style: none;
	margin: 0;
	padding: 0;
}



.stepbox li:nth-child(2n){
	background: #f7f7f7;
}

.stepbox input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 3px solid rgba(0,0,0,0);
}

.stepbox input:focus {
	background: white;
	border: 3px solid #2980b9;
	outline: none;
}


.stepbox li:hover span {
	width: 40px;
	opacity: 1.0;
}


.stepbox p {
	background: #2980b9;
	color: white;
	font-size: 14px;
	font-weight: normal;
}



.buttonDiv{
	text-align: center;
	margin: 20px auto;

}



.proceed{
	background: #2980b9;
	color: white;
	font-size: 14px;
	font-weight: normal;
	transition: 0.4s;

}


.proceed:hover{
	background: white;
	color: #2980b9;
	font-size: 14px;
	font-weight: normal;
	transition: 0.4s;
}




#pagebox4 {
	text-align: center;
}



#personTable .selectedPerson {
	background: red;
	font-size: 20px;
}

#personTable .Person:hover{
	background: red;
	font-size: 20px;
	transition: 0.3s;
}


#personTable td{
	background-color: #2980b9;
	color: white;
	font-size: 13px;
	font-weight: normal;
}

#personTable th{
	background-color:#2d2166;
	color: white;
	font-size: 13px;
	font-weight: bold;
}


#personTableContainer{
	display: inline-block;
	text-align: center;
}


#pagebox5 .stepbox input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 2px solid rgba(0,0,0,0.5);
	margin: 0;
	height: 40px;
    line-height: 40px;
    display: inline-block;
}

#pagebox5 .stepbox input:focus {
	background: white;
	border: 3px solid #2980b9;
	outline: none;
	display: inline-block;
}


#pagebox5 .stepbox h1 {
	text-align: left;
	background: #2980b9;
	color: white;
	margin: 0;
	font-size: 24px;
	font-weight: normal;

}


#pagebox5 .stepbox h2 {
	background: #2980b9;
	color: white;
	margin: 0;
	font-size: 18px;
	font-weight: normal;
	padding: 0 20px;
	height: 40px;
    line-height: 40px;
    vertical-align: middle;
}


.left{
	padding-left: 10px;
	float: left;
	width: 75%;
	display: inline-block;
	box-sizing: border-box;  
	white-space:nowrap;
    overflow: auto;
    text-overflow:ellipsis;
}


.right{
	padding: 0;
	margin: 0;
	float: left;
	width: 25%;
	height: 100%;
	display: inline-block;
	box-sizing: border-box;
	white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;

}

.right input{
	margin: 0;
	padding: 10px;
	height: 100%;
	width: 100%;
	background-color: #d6fcd9;
	display: inline;
	box-sizing: border-box;
	font-size: 14px;
	white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}



#pagebox6 .stepbox input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 2px solid rgba(0,0,0,0.5);
	margin: 0;
	height: 40px;
    line-height: 40px;
    display: inline-block;
}

#pagebox6 .stepbox input:focus {
	background: white;
	border: 3px solid #2980b9;
	outline: none;
	display: inline-block;
}


#pagebox6 .stepbox h1 {
	text-align: left;
	background: #2980b9;
	color: white;
	margin: 0;
	font-size: 24px;
	font-weight: normal;

}


#pagebox6 .stepbox h2 {
	background: #2980b9;
	color: white;
	margin: 0;
	font-size: 18px;
	font-weight: normal;
	padding: 0 20px;
	height: 40px;
    line-height: 40px;
    vertical-align: middle;
}


#pagebox7 .stepbox input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 2px solid rgba(0,0,0,0.5);
	margin: 0;
	height: 40px;
    line-height: 40px;
    display: inline-block;
}

#pagebox7 .stepbox input:focus {
	background: white;
	border: 3px solid #2980b9;
	outline: none;
	display: inline-block;
}


#pagebox7 .stepbox h1 {
	text-align: left;
	background: #2980b9;
	color: white;
	margin: 0;
	font-size: 24px;
	font-weight: normal;

}


#pagebox7 .stepbox h2 {
	background: #2980b9;
	color: white;
	margin: 0;
	font-size: 18px;
	font-weight: normal;
	padding: 0 20px;
	height: 40px;
    line-height: 40px;
    vertical-align: middle;
}



#pagebox8 div{
	text-align: left;
	line-height: 1em;
	font-weight: normal;
	margin-left: 50px;
}



#pagebox8 p{
	font-size: 15px;

}


@media print {
    #pagebox5 {
        background-color: white;
        font-size: 13px;
    }
    #pagebox6 {
        background-color: white;
        font-size: 13px;
    }
    #pagebox7 {
        background-color: white;
        font-size: 13px;
    }
}

.urgent{
	color: red;
}
